<div class="container">
  <div class="subtittle">
    <h2 class="editar-alumno" appTituloEstilo>Editar Alumno</h2>
  </div>

  <mat-card style="margin-top: 1rem; margin-left: 1rem;">
    <form [formGroup]="formulario" (ngSubmit)="editAlumno()">
        <mat-grid-list cols="4" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>Nombre</mat-label>
                    <input matInput autocomplete="off" formControlName="nombre">
                </mat-form-field>
                <div class="valido" *ngIf="formulario.controls['nombre'].valid">Campo correcto</div>
                    <div class="invalido"
                        *ngIf="formulario.controls['nombre'].dirty && formulario.controls['nombre'].errors?.['required']">
                        Completar</div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="6">
                <img src="../../../../../assets/editAlumno.jpg">
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>Apellido</mat-label>
                    <input matInput autocomplete="off" formControlName="apellido">
                </mat-form-field>
                <div class="valido" *ngIf="formulario.controls['apellido'].valid">Campo correcto</div>
                    <div class="invalido"
                        *ngIf="formulario.controls['apellido'].dirty && formulario.controls['apellido'].errors?.['required']">
                        Completar</div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="ancho" appearance="fill">
                    <mat-label>Seleccionar Curso</mat-label>
                    <mat-select formControlName="curso">
                      <mat-option *ngFor="let item of curso" [value]="item">{{item}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>Comision</mat-label>
                    <input matInput autocomplete="off" formControlName="comision">
                </mat-form-field>
                <div class="valido" *ngIf="formulario.controls['comision'].valid">Campo correcto</div>
                    <div class="invalido"
                        *ngIf="formulario.controls['comision'].dirty && formulario.controls['comision'].errors?.['required']">
                        Completar</div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>Email</mat-label>
                    <input matInput autocomplete="off" formControlName="email">
                </mat-form-field>
                <div class="valido" *ngIf="formulario.controls['email'].valid">Campo correcto</div>
                    <div class="invalido"
                        *ngIf="formulario.controls['email'].dirty && formulario.controls['email'].errors?.['required']">
                        Completar</div>
                    <div class="invalido"
                        *ngIf="formulario.controls['email'].dirty && formulario.controls['email'].errors?.['pattern']">
                        Formato incorrecto</div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-raised-button color="primary" type="submit" [disabled]="formulario.invalid"
                    style="margin: 1rem; width: 60%;">Guardar</button>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-card>
</div>